* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;

}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.btn {
  color: white;
  background: #333;
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
}

.btn-red{
background-color: red;
}

.btn-blue{
  background-color: blue;
}

.btn-green{
  background-color: green;
}

.navbar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #333;
}

.circle {
  
}