* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;

}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.btn {
  color: white;
  background: #333;
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
}

.btn-red {
  background-color: red;
}

.btn-blue {
  background-color: blue;
}

.btn-green {
  background-color: green;
}

.btn:hover {
  opacity: 0.8;
}

.circle {
  border-radius: 50%;
  border: 2px solid;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 10px;
  border-bottom: 2px solid black;
}